@import "tailwindcss";

@plugin "daisyui" {
  themes: forest --default;
}

@layer base {
  html,
  body {
    min-width: 320px;
    min-height: 100dvh;
    background-color: var(--color-base-200);
  }

  leptos-island {
    display: contents;
  }
}
